---
layout: default
title: Home
pagination: 
  enabled: true
  collection: video
---
<body class='gridLayout gridMode onIndex onHome' id='mainContent'>
{% include header.html %}
{% if page.url == "/index.html" %}
<div class='container' style='position:relative;padding:0px;display:block;width:calc(100% - 0px)'>
<div class='post-menu'>
<div class='main-container'>

  <div class="head-title">
  <span class="main-title">
  <span>Anime</span>
  </span>
  <span class="more-link">
  <span>
  <a href='/' target="">More</a>
  </span>
  </span>
  </div>

<ul id="carousel" class="carousel"
  data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false, "groupCells": true }'>
{% assign anime = site.anime | sort: 'post_date' | reverse %}
{% for post in anime limit:15 %}
    <li class="carousel-cell">
      <a href="{{ post.url }}"><img src='https://images.weserv.nl/?url={{ site.url }}/media/anime/{{ post.data }}/cover.webp&w=360&h=510&output=webp&fit=cover'/></a>
    </li>
{% endfor %}
</ul>

  <div class="head-title">
  <span class="main-title">
  <span>Action</span>
  </span>
  <span class="more-link">
  <span>
  <a href='/' target="">More</a>
  </span>
  </span>
  </div>

{% assign animeactiontag = site.anime | where: "tag", "Action" %}
{% assign animeaction = animeactiontag | sort: 'post_date' | reverse %}
<ul id="carousel" class="carousel"
  data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false, "groupCells": true }'>
{% for post in animeaction limit:15 %}
    <li class="carousel-cell">
      <a href="{{ post.url }}"><img src='https://images.weserv.nl/?url={{ site.url }}/media/anime/{{ post.data }}/cover.webp&w=360&h=510&output=webp&fit=cover'/></a>
    </li>
{% endfor %}
</ul>

  <div class="head-title">
  <span class="main-title">
  <span>Comedy</span>
  </span>
  <span class="more-link">
  <span>
  <a href='/' target="">More</a>
  </span>
  </span>
  </div>

{% assign animecomedytag = site.anime | where: "tag", "Action" %}
{% assign animecomedy = animecomedytag | sort: 'post_date' | reverse %}
<ul id="carousel" class="carousel"
  data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false, "groupCells": true }'>
{% for post in animecomedy limit:15 %}
    <li class="carousel-cell">
      <a href="{{ post.url }}"><img src='https://images.weserv.nl/?url={{ site.url }}/media/anime/{{ post.data }}/cover.webp&w=360&h=510&output=webp&fit=cover'/></a>
    </li>
{% endfor %}
</ul>

</div>
</div>
</div>
{% endif %}
<!--[ Blog article ]-->
<div class='blogContent sectionInner'>
<!--[ Main content ]-->
<main class='mainbar'>
<div class='section' id='main-widget'>
<div class='widget Blog'>
<div class='blogTitle'>
<h2 class='title'>Latest Posts</h2>
<div class='postMode' onclick='gridMode()'>
<svg class='line svg-1' viewBox='0 0 24 24'><rect height='7' width='7' x='3' y='3'></rect><rect height='7' width='7' x='14' y='3'></rect><rect height='7' width='7' x='14' y='14'></rect><rect height='7' width='7' x='3' y='14'></rect></svg>
<svg class='line svg-2' viewBox='0 0 24 24'><rect height='7' rx='2' ry='2' width='18' x='3' y='3'></rect><rect height='7' rx='2' ry='2' width='18' x='3' y='14'></rect></svg>
</div>
<script>(localStorage.getItem('list')) === 'listmode' ? document.querySelector('#mainContent').classList.add('gridMode') : document.querySelector('#mainContent').classList.remove('gridMode')</script>
</div>
<div class='blogPosts'>
{% include paginator-content.html %}
</div>
{% include paginator.html %}
</div>
</div>
</main>
<!--[ Sidebar content ]-->
{% include sidebar.html %}
</div>
