---
layout: home
permalink: /
title: Home
pagination:
  enabled: true
  collection: video
  per_page: 8
  offset: 0
  permalink: '/:num/'
  title: ':title - page :num of :max'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  trail: 
    before: 2
    after: 2
---

<!--[ Blog article ]-->
<div class='blogContent sectionInner'>
<!--[ Main content ]-->
<main class='mainbar'>
<div class='section' id='main-widget'>
<div class='widget Blog'>
<div class='blogTitle'>
<h2 class='title'>Latest Posts</h2>
<div class='postMode' onclick='gridMode()'>
<svg class='line svg-1' viewBox='0 0 24 24'><rect height='7' width='7' x='3' y='3'></rect><rect height='7' width='7' x='14' y='3'></rect><rect height='7' width='7' x='14' y='14'></rect><rect height='7' width='7' x='3' y='14'></rect></svg>
<svg class='line svg-2' viewBox='0 0 24 24'><rect height='7' rx='2' ry='2' width='18' x='3' y='3'></rect><rect height='7' rx='2' ry='2' width='18' x='3' y='14'></rect></svg>
</div>
<script>(localStorage.getItem('list')) === 'listmode' ? document.querySelector('#mainContent').classList.add('gridMode') : document.querySelector('#mainContent').classList.remove('gridMode')</script>
</div>
<div class='blogPosts'>
{% include paginator-content.html %}
</div>
{% include paginator.html %}
</div>
</div>
</main>
{% include sidebar.html %}
</div>
