{% for post in paginator.posts %}
{% if page.layout == "homepage-article" %}
{% assign author = site.authors | where: 'short_name', post.author | first %}
<article class='hentry'>
<div class='postThumbnail'>
<a href='{{ post.url }}'>
<img alt='{{ post.title }}' class='imgThumb lazy' data-src='https://images.weserv.nl/?url={{ post.image }}&w=600&h=300&output=webp&fit=cover' src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs='/>
</a>
</div>
<div class='postContent'>
<h2 class='postTitle'>
<a data-text='{{ post.title }}' href='{{ post.url }}'>
{{ post.title }}
</a>
</h2>
<div class='postHeader'>
<div class='postAuthorName'>
<div class='authorName fn'>
Oleh. <span data-text='
{{ post.author }}
'>in {{ post.category }}</span>
</div>
</div>
</div>
<p class='postEntry snippet'>
{{ post.description }}</p>

<div class='postInfo'>
<time class='postTimestamp updated' data-text='{{ post.date | timeago }}' datetime='{{ post.last_modified_at | date_to_xmlschema }}' title='Last updated: {{ post.last_modified_at | date_to_xmlschema }}'></time>
<script id="dsq-count-scr" src="//flixmu.disqus.com/count.js" async></script>
<a aria-label='Comments' class='commentsBubble' href='{{ post.url }}#disqus_thread'></a>
</div>

</div>
</article>
{% endif %}

{% if page.layout == "home" %}
<article class='hentry'>
<div class='postThumbnail'>
<a href='{{ post.url }}'>
<img alt='{{ post.title }}' class='imgThumb lazy' data-src='https://images.weserv.nl/?url={{ site.url }}/media/{{ post.tag }}/{{ post.category }}/{{ post.slug }}.webp&w=600&h=300&output=webp&fit=cover' src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs='/>
</a>
</div>
<div class='postContent'>
<h2 class='postTitle'>
<a data-text='{{ post.title }}' href='{{ post.url }}'>
{{ post.title }}
</a>
</h2>
<div class='postHeader'>
<div class='postAuthorName'>
<div class='authorName fn'>
<span data-text='
Episode {{ post.episode }}
'>in {{ post.tag }}</span>
</div>
</div>
</div>
<p class='postEntry snippet'>
{{ post.content | remove: '<p>' | remove: '</p>' }}
</p>

<div class='postInfo'>
<time class='postTimestamp updated' data-text=''></time>
<script id="dsq-count-scr" src="//flixmu.disqus.com/count.js" async></script>
<a aria-label='Comments' class='commentsBubble' href='{{ post.url }}#disqus_thread'></a>
</div>

</div>
</article>
{% endif %}
{% endfor %}
