{% for post in paginator.posts %}
{% assign author = site.authors | where: 'short_name', post.author | first %}
<article class='hentry'>
<div class='postThumbnail'>
<a href='{{ post.url }}'>
<img alt='{{ post.title }}' class='imgThumb lazy' data-src='https://images.weserv.nl/{{ site.url }}/media/anime/{{ post.category }}/{{ post.slug }}.webp&w=200&h=200&output=jpg&q=65' src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs='/>
</a>
</div>
<div class='postContent'>
    
<h2 class='postTitle'>
<a data-text='{{ post.title }}' href='{{ post.url }}'>
{{ post.title }}
</a>
</h2>
    
<div class='postHeader'>
<div class='postAuthorName'>
<div class='authorName fn'>
<span data-text='
Episode {{ post.episode }}
'>in {{ post.type }}</span>
</div>
</div>
</div>
<p class='postEntry snippet'>
{{ post.content | remove: '<p>' | remove: '</p>' }}
</p>
</div>
</article>
{% endfor %}
