<aside class='sidebar'>
<div class='section' id='side-widget'>
<div class='widget HTML'>
<h3 class='title'>
Advertise
</h3>
<div class='widget-content'>
<div class='ads-here'>
<script type="text/javascript">
	atOptions = {
		'key' : '7070464b63f6bbdf94b055df55e862c6',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivedisplayformat.com/7070464b63f6bbdf94b055df55e862c6/invoke.js"></scr' + 'ipt>');
</script>
</div>
</div>
</div>

<div class='widget PopularPosts'>
<h2 class='title'><a href='/article'>Article</a></h2>
<div class='widget-content'>
<div class='itemPopulars' role='feed'>

{% assign items = site.article | sort: 'some_field' | reverse %}
{% for post in items limit:5 %}
{% assign author = site.authors | where: 'short_name', post.author | first %}
<article class='itemPopular mostPopular'>

{% if forloop.index0 == 0 %}
<div class='itemThumbnail'>
<a href='{{ post.url }}'>
<img alt='{{ post.title }}' class='imgThumb lazy' data-src='https://images.weserv.nl/?url={{ post.image }}&w=600&h=270&output=webp&fit=cover' src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs='/>
</a>
</div>
{% endif %}

<div class='itemContent'>
<div class='postHeader'>
<div class='postAuthorImage'>
<div class='authorImage lazy' data-bg='{{ author.avatar }}'></div>
</div>
<div class='postAuthorName'>
<div class='authorName fn' data-text='Oleh'>
<span data-text='{{ author.name }}'></span>
</div>
<div class='postLabel' data-text='in'>
<a aria-label='{{ post.category }}' data-text='{{ post.category }}' href='' rel='tag'>
</a>
</div>
</div>
</div>
<div class='itemInner'>
<div class='itemFlex'>
<h3 class='itemTitle'><a href='{{ post.url }}'>{{ post.title }}</a></h3>
{% if forloop.index0 == 0 %}
<p class='itemEntry'>{{ post.description }}</p>
{% endif %}
<div class='postInfo'>
<time class='postTimestamp updated' data-text='{{ post.date | timeago }}' datetime='{{ post.last_modified_at | date_to_xmlschema }}' title='Last updated: {{ post.last_modified_at | date_to_xmlschema }}'></time>
<a aria-label='Comments' class='commentsBubble' href='{{ post.url }}#disqus_thread'>
</a>
</div>
</div>
</div>
</div>
</article>
{% endfor %}
</div>
</div>
</div>

<div class='widget HTML'>
<h3 class='title'>
Advertise
</h3>
<div class='widget-content'>
<script async="async" data-cfasync="false" src="//pl16458541.highperformancecpm.com/171ed9b346b9f883c3143f09c4aa4f53/invoke.js"></script>
<div id="container-171ed9b346b9f883c3143f09c4aa4f53"></div>
</div>
</div>

</div>
</aside>
