<aside class='sidebar'>
<div class='section' id='side-widget'>

<div class='widget PopularPosts'>
<h2 class='title'><a href='/article'>Article</a></h2>
<div class='widget-content'>
<div class='itemPopulars' role='feed'>

{% for post in site.article limit:10 %}
  
    {{ post.image }}
  

<article class='itemPopular mostPopular'>

{% if forloop.index0 == 0 %}
<div class='itemThumbnail'>
<a href='{{ post.url }}'>
<img alt='{{ post.title }}' class='imgThumb lazy' data-src='https://images.weserv.nl/?url={{ post.image }}&w=600&h=270&output=webp&fit=cover' src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs='/>
</a>
</div>
{% endif %}

<div class='itemContent'>
<div class='postHeader'>
<div class='postAuthorImage'>
<div class='authorImage lazy' data-bg='{{ author.avatar }}'></div>
</div>
<div class='postAuthorName'>
<div class='authorName fn' data-text='Oleh'>
<span data-text='{{ author.name }}'></span>
</div>
<div class='postLabel' data-text='in'>
<a aria-label='Features' data-text='Features' href='#' rel='tag'>
</a>
</div>
</div>
</div>
<div class='itemInner'>
<div class='itemFlex'>
<h3 class='itemTitle'><a href='{{ post.url }}'>{{ post.title }}</a></h3>
{% if forloop.index0 == 0 %}
<p class='itemEntry'>{{ post.description }}</p>
{% endif %}
<div class='postInfo'>
<time class='postTimestamp updated' data-text='May 8, 2021' datetime='2021-05-08T16:01:02+08:00' title='Last updated: May 8, 2021'></time>
<a aria-label='Comments' class='commentsBubble' data-text='25' href='#'>
<svg class='line' viewBox='0 0 24 24'>
<path d='M12.02 2C6.21 2 2 6.74612 2 12.015C2 13.6975 2.49 15.4291 3.35 17.0115C3.51 17.2729 3.53 17.6024 3.42 17.9139L2.75 20.1572C2.6 20.698 3.06 21.0976 3.57 20.9374L5.59 20.3375C6.14 20.1572 6.57 20.3866 7.08 20.698C8.54 21.5583 10.36 22 12 22C16.96 22 22 18.1642 22 11.985C22 6.65598 17.7 2 12.02 2Z'></path></svg>
</a>
</div>
</div>
</div>
</div>
</article>
{% endfor %}



</div>
</div>
</div>


</div>
</aside>
