<article class='hentry post'>
<h1 class='postTitle'>
<span>
{{ page.title }}
</span>
</h1>
<div class='postInner'>
<div class='postEntry'>
<div class='postBody' id='postBody'>

<a href='https://prose.io/#flixmu/flixmu.github.io/edit/main/synopsis/{{ page.tag }}/{{ page.category }}/{{ page.episode }}.md'>Edit Synopsis</a><span> | </span>

{% if page.en %}
<a href='https://prose.io/#flixmu/flixmu.github.io/edit/main/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_en.srt'>Edit English Sub</a>
{% endif %}
{% if page.in %}
<span> | </span><a href='https://prose.io/#flixmu/flixmu.github.io/edit/main/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_in.srt'>Edit Indonesia Sub</a>
{% endif %}
{% if page.ch %}
<span> | </span><a href='https://prose.io/#flixmu/flixmu.github.io/edit/main/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_ch.srt'>Edit China Sub</a>
{% endif %}
{% if page.th %}
<span> | </span><a href='https://prose.io/#flixmu/flixmu.github.io/edit/main/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_th.srt'>Edit Thailand Sub</a>
{% endif %}
{% if page.ms %}
<span> | </span><a href='https://prose.io/#flixmu/flixmu.github.io/edit/main/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_ms.srt'>Edit Malaysia Sub</a>
{% endif %}

{{ content }}
</div>
</div>
</div>
{% include share.html %}
</article>
