<article class='hentry post'>
<h1 class='postTitle'>
<span>
{{ page.title }} Episode {{ page.episode }}
</span>
</h1>
<div class='postInner'>
<div class='postEntry'>
<div class='postBody' id='postBody'>
<a href='https://prose.io/#flixmu/flixmu.github.io/edit/main/synopsis/{{ page.tag }}/{{ page.category }}/{{ page.episode }}.md'>Edit Synopsis</a>
{% if page.en %}
<span> | </span><a href='https://prose.io/#flixmu/flixmu.github.io/edit/main/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_en.srt'>Edit English Sub</a>
{% endif %}
{% if page.in %}
<span> | </span><a href='https://prose.io/#flixmu/flixmu.github.io/edit/main/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_in.srt'>Edit Indonesia Sub</a>
{% endif %}
{% if page.ch %}
<span> | </span><a href='https://prose.io/#flixmu/flixmu.github.io/edit/main/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_ch.srt'>Edit China Sub</a>
{% endif %}
{% if page.th %}
<span> | </span><a href='https://prose.io/#flixmu/flixmu.github.io/edit/main/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_th.srt'>Edit Thailand Sub</a>
{% endif %}
{% if page.ms %}
<span> | </span><a href='https://prose.io/#flixmu/flixmu.github.io/edit/main/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_ms.srt'>Edit Malaysia Sub</a>
{% endif %}

{{ content }}

<div>Download Subtitle</div>
{% if page.en %}
<a href='https://flixmu.github.io/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_en.srt'>English</a>
{% endif %}
{% if page.in %}
<span> | </span><a href='https://flixmu.github.io/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_in.srt'>Indonesia</a>
{% endif %}
{% if page.ch %}
<span> | </span><a href='https://flixmu.github.io/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_ch.srt'>China</a>
{% endif %}
{% if page.th %}
<span> | </span><a href='https://flixmu.github.io/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_th.srt'>Thailand</a>
{% endif %}
{% if page.ms %}
<span> | </span><a href='https://flixmu.github.io/subtitle/{{ page.tag }}/{{ page.category }}/{{ page.episode }}_ms.srt'>Malaysia</a>
{% endif %}
<div>Download Video</div>
{% if page.size_g %}
<a href='{{ page.size_g }}'>144p</a>
{% endif %}
{% if page.size_a %}
<span> | </span><a href='{{ page.size_a }}'>180p</a>
{% endif %}
{% if page.size_b %}
<span> | </span><a href='{{ page.size_b }}'>240p</a>
{% endif %}
{% if page.size_h %}
<span> | </span><a href='{{ page.size_h }}'>270p</a>
{% endif %}
{% if page.size_c %}
<span> | </span><a href='{{ page.size_c }}'>360p</a>
{% endif %}
{% if page.size_d %}
<span> | </span><a href='{{ page.size_d }}'>480p</a>
{% endif %}
{% if page.size_e %}
<span> | </span><a href='{{ page.size_e }}'>720p</a>
{% endif %}
{% if page.size_f %}
<span> | </span><a href='{{ page.size_f }}'>1080p</a>
{% endif %}

<p class='note'>Jika kamu melihat subtitle tidak sesuai, bantu kami memerbaikinya dengan mengikuti tautan Edit Subtitle diatas. (dibutuhkan akun Github)</p>
</div>
</div>
</div>
{% include share.html %}
</article>
