---
layout: default
---
<body class='gridLayout gridMode onIndex onHome' id='mainContent'>
{% include header.html %}

<div class='container' style='position:relative;padding:0px;display:block;width:calc(100% - 0px)'>
<div class='post-menu'>
<div class='main-container'>

  <div class="head-title">
  <span class="main-title">
  <span>Anime</span>
  </span>
  <span class="more-link">
  <span>
  <a href='/anime/list' target="">More</a>
  </span>
  </span>
  </div>

<ul id="carousel" class="carousel"
  data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false, "groupCells": true }'>
{% assign anime = site.anime | sort: 'post_date' | reverse %}
{% for post in anime limit:15 %}
    <li class="carousel-cell">
      <a href="{{ post.url }}"><img class="imgThumb lazy" src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' data-src='{{ site.url }}/media/anime/{{ post.data }}/cover.webp'/></a>
    </li>
{% endfor %}
</ul>

  <div class="head-title">
  <span class="main-title">
  <span>Action</span>
  </span>
  <span class="more-link">
  <span>
  <a href='/' target="">More</a>
  </span>
  </span>
  </div>

{% assign animeactiontag = site.anime | where: "tag", "Action" %}
{% assign animeaction = animeactiontag | sort: 'post_date' | reverse %}
<ul id="carousel" class="carousel"
  data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false, "groupCells": true }'>
{% for post in animeaction limit:15 %}
    <li class="carousel-cell">
      <a href="{{ post.url }}"><img class="imgThumb lazy" src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' data-src='{{ site.url }}/media/anime/{{ post.data }}/cover.webp'/></a>
    </li>
{% endfor %}
</ul>

  <div class="head-title">
  <span class="main-title">
  <span>Comedy</span>
  </span>
  <span class="more-link">
  <span>
  <a href='/' target="">More</a>
  </span>
  </span>
  </div>

{% assign animecomedytag = site.anime | where: "tag", "Comedy" %}
{% assign animecomedy = animecomedytag | sort: 'post_date' | reverse %}
<ul id="carousel" class="carousel"
  data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false, "groupCells": true }'>
{% for post in animecomedy limit:15 %}
    <li class="carousel-cell">
      <a href="{{ post.url }}"><img class="imgThumb lazy" src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' data-src='{{ site.url }}/media/anime/{{ post.data }}/cover.webp'/></a>
    </li>
{% endfor %}
</ul>

</div>
</div>
</div>
{{ content }}
