---
layout: default
---
<body class='gridLayout onItem onPost' id='mainContent'>
{% include header.html %}
<script src='//code.jquery.com/jquery-1.12.0.min.js'></script>
<script src='https://artplayer.org/uncompiled/artplayer.js'></script>
<script src='https://cdn.bootcss.com/hls.js/0.10.1/hls.js'></script>
<style>
.blogContent{display:block}.onPost .blogContent .mainbar{margin-left:auto;margin-right:auto}.onPost .blogContent .sidebar{max-width:var(--post-maxContent);margin-left:auto;margin-right:auto;display:none}.artplayer-app {width: 100%;height: 100%;}.video {overflow: hidden;padding-top: 56.25%;position: relative;}.video .artplayer-app{background: black;position: absolute;margin: 0;top: 0;left: 0;border: 0;width: 100%;height: 100%;z-index:0}.art-contextmenu-info {display: none;}
@media screen and (max-width:896px){.onPost .blogContent .sidebar{display:none}}
</style>
<div id='player'>
<div class='video'>
<div class='artplayer-app' id='player'></div>
</div>
<nav class='scrollMenu'>
<div class='sectionInner section' id='nav-menu'>
<div class='widget LinkList'>
<ul class="episode">
<li>Episode:</li>
{% assign video = site.video | where: "category", page.category %}
{% for video in video %}
<li><a data-text="{{ video.episode }}" href="{{ video.url }}"></a></li>
{% endfor %}
</ul>
</div>
</div>
</nav>
</div>
<!--[ Blog article ]-->
<div class='blogContent sectionInner'>
<!--[ Main content ]-->
<main class='mainbar'>
<div class='section' id='main-widget'>
<div class='widget Blog'>
<div class='blogPosts'>
{% include video-content.html %}
{% include post-footer.html %}
</div>
</div>

</div>
</main>
</div>

<script>
var hls = null;
var art = new Artplayer({
container: '.artplayer-app',
poster: '/media/{{ page.tag }}/{{ page.category }}/{{ page.slug }}.webp',
url:'{{ page.size_d }}',
customType: {m3u8: function (video, url) {if (hls) hls.destroy();hls = new Hls();hls.loadSource(url);hls.attachMedia(video);},},
volume: 0.5,
autoplay: false,
autoSize: true,
autoMini: true,
loop: true,
flip: true,
fullscreen: true,
fullscreenWeb: false,
whitelist: ['*'],
subtitle: {
  url:'{{ page.in }}',
          style: {
            color: '#fff',
            'text-shadow': '.05em .05em 0 rgba(0,0,0,1)',
            '-webkit-text-stroke': '.03em black',
        },
},
quality: [
{% if page.size_g %}
{name: '144',url: '{{ page.size_g }}',},
{% endif %}
{% if page.size_a %}
{name: '180',url: '{{ page.size_a }}',},
{% endif %}
{% if page.size_b %}
{name: '240',url: '{{ page.size_b }}',},
{% endif %}
{% if page.size_h %}
{name: '270',url: '{{ page.size_h }}',},
{% endif %}
{% if page.size_c %}
{name: '360',url: '{{ page.size_c }}',},
{% endif %}
{% if page.size_d %}
{default: true, name: '480',url: '{{ page.size_d }}',},
{% endif %}
{% if page.size_e %}
{name: '720',url: '{{ page.size_e }}',},
{% endif %}
{% if page.size_f %}
{name: '1080',url: '{{ page.size_f }}',},
{% endif %}
],
controls: [{position: 'right',html: 'Subtitle',selector:[
{% if page.en %}
{name: 'English',url:'{{ page.en }}',},
{% endif %}
{% if page.in %}
{name: 'Indonesia',url:'{{ page.in }}',},
{% endif %}
{% if page.ch %}
{name: 'Chinese',url:'{{ page.ch }}',},
{% endif %}
{% if page.th %}
{name: 'Thailand',url:'{{ page.th }}',},
{% endif %}
{% if page.ms %}
{name: 'Malaysia',url:'{{ page.ms }}',},
{% endif %}
],
onSelect: function (item) {art.subtitle.switch(item.url, {name: item.name});},},],});

art.on('selector', function (item){console.info(item);});
{% if page.loop %}
art.on('ready', () => {
	art.loop = [1*{{ page.loop }},300*60];
});
{% endif %}
</script>
