---
title: Anime List
layout: page
permalink: /anime/list
---
<link rel="stylesheet" type="text/css" href="https://cdn.statically.io/gh/demonlordonline/Winfoku/f5d176d0/AnimeList.css"></link>
<div class='winfoku'>
 <div class='win-apb'>
  <a href='#%23'>#</a>
  <a href='#A'>A</a>
  <a href='#B'>B</a>
  <a href='#C'>C</a>
  <a href='#D'>D</a>
  <a href='#E'>E</a>
  <a href='#F'>F</a>
  <a href='#G'>G</a>
  <a href='#H'>H</a>
  <a href='#I'>I</a>
  <a href='#J'>J</a>
  <a href='#K'>K</a>
  <a href='#L'>L</a>
  <a href='#M'>M</a>
  <a href='#N'>N</a>
  <a href='#O'>O</a>
  <a href='#P'>P</a>
  <a href='#Q'>Q</a>
  <a href='#R'>R</a>
  <a href='#S'>S</a>
  <a href='#T'>T</a>
  <a href='#U'>U</a>
  <a href='#V'>V</a>
  <a href='#W'>W</a>
  <a href='#X'>X</a>
  <a href='#Y'>Y</a>
  <a href='#Z'>Z</a>
 </div>
 <div class='win-wrap'>
  <div class='win-group'>
   <div class='win-head'><a name='#'>#</a></div>
   
{% assign animea-list = site.anime | where: "tag", "#" %}
{% assign animealist = animea-list | sort: 'post_date' | reverse %}
{% for post in animealist %}
   <div class='win-item'><div class='win-title'><a title='{{ post.title }}' href='{{ post.url }}'>{{ post.title }}</a></div></div>
{% endfor %}
 
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='A'>A</a></div>
   
{% assign animealist-a = site.anime | where: "tag", "B" %}
{% assign animealista = animealist-a | sort: 'post_date' | reverse %}
{% for post in animealista %}
   <div class='win-item'><div class='win-title'><a title='{{ post.title }}' href='{{ post.url }}'>{{ post.title }}</a></div></div>
{% endfor %}

  </div>
  <div class='win-group'>
   <div class='win-head'><a name='B'>B</a></div>
   
{% assign animealist-b = site.anime | where: "tag", "C" %}
{% assign animealistb = animealist-b | sort: 'post_date' | reverse %}
{% for post in animealistb %}
   <div class='win-item'><div class='win-title'><a title='{{ post.title }}' href='{{ post.url }}'>{{ post.title }}</a></div></div>
{% endfor %}
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='C'>C</a></div>
   
{% assign animealist-c = site.anime | where: "tag", "C" %}
{% assign animealistc = animealist-c | sort: 'post_date' | reverse %}
{% for post in animealistc %}
   <div class='win-item'><div class='win-title'><a title='{{ post.title }}' href='{{ post.url }}'>{{ post.title }}</a></div></div>
{% endfor %}
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='D'>D</a></div>
   
{% assign animealist-d = site.anime | where: "tag", "D" %}
{% assign animealistd = animealist-d | sort: 'post_date' | reverse %}
{% for post in animealistd %}
   <div class='win-item'><div class='win-title'><a title='{{ post.title }}' href='{{ post.url }}'>{{ post.title }}</a></div></div>
{% endfor %}
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='E'>E</a></div>
   
{% assign animealist-e = site.anime | where: "tag", "E" %}
{% assign animealiste = animealist-e | sort: 'post_date' | reverse %}
{% for post in animealiste %}
   <div class='win-item'><div class='win-title'><a title='{{ post.title }}' href='{{ post.url }}'>{{ post.title }}</a></div></div>
{% endfor %}
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='F'>F</a></div>
   
   <!-- KODE UNTUK ANIME "F" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='G'>G</a></div>
   
   <!-- KODE UNTUK ANIME "G" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='H'>H</a></div>
   
   <!-- KODE UNTUK ANIME "H" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='I'>I</a></div>
   
{% assign animealist-i = site.anime | where: "tag", "I" %}
{% assign animealisti = animealist-i | sort: 'post_date' | reverse %}
{% for post in animealisti %}
   <div class='win-item'><div class='win-title'><a title='{{ post.title }}' href='{{ post.url }}'>{{ post.title }}</a></div></div>
{% endfor %}
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='J'>J</a></div>
   
   <!-- KODE UNTUK ANIME "J" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='K'>K</a></div>
   
   <!-- KODE UNTUK ANIME "K" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='L'>L</a></div>
   
   <!-- KODE UNTUK ANIME "L" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='M'>M</a></div>
   
   <!-- KODE UNTUK ANIME "M" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='N'>N</a></div>
   
   <!-- KODE UNTUK ANIME "N" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='O'>O</a></div>
   
   <!-- KODE UNTUK ANIME "O" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='P'>P</a></div>
   
   <!-- KODE UNTUK ANIME "P" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='Q'>Q</a></div>
   
   <!-- KODE UNTUK ANIME "Q" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='R'>R</a></div>
   
   <!-- KODE UNTUK ANIME "R" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='S'>S</a></div>
   
   <!-- KODE UNTUK ANIME "S" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='T'>T</a></div>
   
{% assign animealist-t = site.anime | where: "tag", "T" %}
{% assign animealistt = animealist-t | sort: 'post_date' | reverse %}
{% for post in animealistt %}
   <div class='win-item'><div class='win-title'><a title='{{ post.title }}' href='{{ post.url }}'>{{ post.title }}</a></div></div>
{% endfor %}
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='U'>U</a></div>
   
   <!-- KODE UNTUK ANIME "U" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='V'>V</a></div>
   
   <!-- KODE UNTUK ANIME "V" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='W'>W</a></div>
   
   <!-- KODE UNTUK ANIME "W" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='X'>X</a></div>
   
   <!-- KODE UNTUK ANIME "X" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='Y'>Y</a></div>
   
   <!-- KODE UNTUK ANIME "Y" DISINI -->
   
  </div>
  <div class='win-group'>
   <div class='win-head'><a name='Z'>Z</a></div>
   
   <!-- KODE UNTUK ANIME "Z" DISINI -->
   
  </div>
 </div>
</div>
